<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beauty.shopping.dao.UserInfoMapper">
    <select id="getUserInfo" resultType="com.beauty.shopping.entity.UserInfoDO">
        select * from user_info where username = #{userName} and password = #{password}
    </select>
    <select id="getUserInfoByUserName" resultType="com.beauty.shopping.entity.UserInfoDO">
        select * from user_info where username = #{userName};
    </select>
    <insert id="addUser" >
        insert into user_info (username, password) values (#{userName}, #{password})
    </insert>
</mapper>